body {
    font-family: 'Fira Code', monospace;
    overflow: hidden;
    /* Скрыть прокрутку */
}

#profile-pic {
    width: 150px;
    /* Размер изображения */
    height: 150px;
    /* Размер изображения */
    object-fit: cover;
    /* Избежать искажения изображения */
}

footer {
    background-color: #f8f9fa;
    /* Цвет фона подвала */
    color: black;
    /* Цвет текста */
}

/* Выравнивание текста в подвале */
footer p {
    margin: 0;
}

/* Медиазапросы */
@media (max-width: 768px) {
    #profile-pic {
        width: 120px;
        /* Размер изображения для планшетов */
        height: 120px;
    }

    h2 {
        font-size: 1.5rem;
        /* Уменьшить размер заголовка для планшетов */
    }

    p {
        font-size: 1rem;
        /* Уменьшить размер текста для планшетов */
    }
}

@media (max-width: 480px) {
    #profile-pic {
        width: 100px;
        /* Размер изображения для мобильных устройств */
        height: 100px;
    }

    h2 {
        font-size: 1.25rem;
        /* Уменьшить размер заголовка для мобильных устройств */
    }

    p {
        font-size: 0.9rem;
        /* Уменьшить размер текста для мобильных устройств */
    }
}