body {
    background-color: white;
    color: black;
    margin: 0;
    font-family: 'Fira Code', monospace;
    /* Подключение шрифта Fira Code */
}



/* Стили для списка статей */
.list-group-item {
    font-size: 1.1rem;
    /* Размер шрифта для списка по умолчанию */
}

/* Медиазапросы для разных устройств */
@media (max-width: 768px) {
    #profile-pic {
        width: 120px;
        /* Размер изображения на планшетах */
        height: 120px;
    }

    h1 {
        font-size: 1.5rem;
        /* Уменьшить размер заголовка для планшетов */
    }

    p {
        font-size: 1rem;
        /* Уменьшить размер текста для планшетов */
    }

    .list-group-item {
        font-size: 1rem;
        /* Уменьшение размера шрифта для списка на планшетах */
    }
}

@media (max-width: 480px) {
    #profile-pic {
        width: 100px;
        /* Размер изображения для мобильных устройств */
        height: 100px;
    }

    h1 {
        font-size: 1.25rem;
        /* Уменьшенный размер заголовка для мобильных устройств */
    }

    p {
        font-size: 0.9rem;
        /* Уменьшенный размер текста для мобильных устройств */
    }

    .list-group-item {
        font-size: 0.9rem;
        /* Уменьшение размера шрифта для списка на мобильных устройствах */
    }
}

/* Масштабирование шрифтов для остальных устройств */
h1 {
    font-size: 2rem;
    /* Размер заголовка по умолчанию */
}

p {
    font-size: 1rem;
    /* Размер текста по умолчанию */
}